# MySQL-integrator — copier ce fichier en .env et renseigner les valeurs.
# identifiants de la base de données, à modifier selon les identifiants de la base de données
MYSQL_USER=NomUtilisateur
MYSQL_PASSWORD=MotDePasse
MYSQL_HOST=NomHote
MYSQL_PORT=Port
MYSQL_DATABASE=NomBaseDeDonnees

# renommer ou copier en .env (ne pas versionner .env)